<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{information}}</title>


    <link href="{{static_url("bootstrap/dist/css/bootstrap.min.css")}}" rel="stylesheet">
    <script src="{{static_url("jquery-3.0.0.js")}}"></script>
    <script src="{{static_url("bootstrap/dist/js/bootstrap.min.js")}}"></script>
    <style>
     .hied{
        display: none;
    }
     .c1{
        position: fixed;
        top: 23%;
        right: 22%;
    }
    </style>
</head>
<body>
    <div style="background-color:#479AC7;height:60px;">
        <h2 style="padding-left: 20px;color:white;margin-top:0;line-height: 60px;">{{information}} <small style="color:white">程序配置文件引导</small></h2>
    </div>

    {% block RenderBody %}{% end %}

    <div class="row">
       <div class="col-md-12" style="position:absolute;bottom:0;right:0;left:0;background-color:#479AC7;height: 80px;">
        <div class="col-md-2 col-md-offset-9" style="margin-top:30px;">
            <button type="button"  class="btn btn-success" onclick="data_format(this);">（提交）下一步</button>
        </div>
       </div>
    </div>
    {% block JavaScript %}{% end %}

</body>
</html>
